{% extends '::base.html.twig' %}
{% block title %}
    Products || Home
{% endblock %}
{% block stitle %}
<h1 class="container">Catalogo de productos</h1>
{% endblock %}
{% block body %}


{% endblock %}